<h1>Da Burger!!!</h1>

<h2>Available Burgers!</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
         <li>{{burger_name}}</li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers!</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
        <li>{{burger_name}}</li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burgers">Burger Name:</label>
    <input type="text" id="burgers" name="burger">
  </div>

  <button class="btn" type="submit">Add Da Burger</button>
</form>
